.route-Started {
  color: white;
  background-color: #1976d2 !important;
  text-transform: uppercase; }

.route-Pending {
  color: white;
  background-color: #7c7c7c !important;
  text-transform: uppercase; }

.route-Completed {
  color: white;
  background-color: #2ba04c !important;
  text-transform: uppercase; }

.circle-green {
  border-color: #2ba042; }

.circle-red {
  border-color: #db2835; }

.circle-gray {
  border-color: #707070; }

.circle-white {
  border-color: #ffffff; }

.circle-orange {
  border-color: #eb6c11; }

.circle-green-fill {
  color: white;
  background-color: #2ba04c !important; }
  .circle-green-fill:hover {
    background-color: #207839 !important; }

.circle-red-fill {
  color: white;
  background-color: #ed1c24 !important; }
  .circle-red-fill:hover {
    background-color: #c61017 !important; }

.circle-gray-fill {
  color: #707070;
  border: 1px soli #707070 !important; }
  .circle-gray-fill:hover {
    border-color: #575757 !important; }

.stop-circle {
  left: 10%;
  width: 28px;
  height: 28px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  background-color: #ffffff;
  outline: 8px solid #ffffff;
  position: absolute;
  z-index: 99; }

.circle-plus {
  font-size: 15px !important;
  font-weight: 300 !important;
  background-color: #ebebeb !important;
  border-color: #707070;
  color: #707070; }

.circle-p {
  font-size: 15px !important;
  font-weight: 300 !important;
  background-color: #ebebeb !important;
  border-color: #ebebeb !important;
  color: #707070; }

.dispatch-container {
  margin: 10px;
  border: 2px solid #ebebeb;
  height: 100%;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5); }

.distpatch-menu-row {
  color: #fff;
  background-color: #1976d2;
  padding: 5px 0;
  font-size: 12 px; }

.dispatch-row {
  padding: 10px; }

.dispatch-row-msg {
  padding: 30px; }

.dispatch-row-err {
  padding: 30px;
  color: #db2836; }

.dispatch-row-outer {
  margin: 0 -15px; }

.item-row {
  height: auto;
  border: 1px solid #dddddd;
  margin-left: -15px; }

.col-stop-item {
  width: 12.5% !important;
  padding: 0px !important;
  margin: 0px !important;
  float: left; }

.route-item-outer {
  padding-top: 10px;
  height: 86px !important;
  position: relative; }

.stop-ln-top,
.stop-ln-btm {
  position: absolute;
  z-index: 19;
  font-size: 10px;
  left: 48%;
  height: auto;
  width: 30%; }

.stop-ln-top {
  top: 11px; }

.stop-ln-btm {
  top: 24px; }

.stop-ln1,
.stop-ln2,
.stop-ln3 {
  padding-left: 0;
  font-size: 10px; }

.stop-ln1 {
  padding-top: 30px; }

.stop-ln3 {
  color: #636363; }

.stop-line {
  position: relative;
  top: 19%;
  left: 10%;
  z-index: -10; }

.stop-line-dash {
  border-top: 1px dashed gray; }

.stop-line-solid {
  border-top: 1px solid gray; }

.route-info-outer {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0px;
  height: auto; }

.route-start {
  text-align: right;
  width: 100%;
  color: #636363;
  margin-bottom: -20px;
  padding-right: 10px;
  padding-top: 12px;
  height: auto-50px; }

.info-image {
  position: relative;
  margin-bottom: -12px;
  width: 32px;
  height: 32px; }

img.img-persion {
  border-width: 2px;
  border-style: solid;
  margin-bottom: 8px;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  cursor: pointer; }

img-circle-me {
  border: 1px solid black; }

.route-info {
  width: 100%;
  background-color: #ebebeb !important;
  border: 1px;
  height: 50px; }

.info-name-l1 {
  padding-top: 8px; }

.info-name-l2 {
  font-weight: bold; }

.info-name {
  width: 75%;
  background-color: #5398dd;
  color: #fff;
  float: left;
  height: 50px;
  padding-left: 30%; }

.info-timing {
  width: 25%;
  float: left;
  padding-left: 2%;
  background-color: #ebebeb;
  height: 50px; }

.route-box {
  font-size: 15px;
  border-color: #ddd;
  /*box-shadow: 0 0 7px 2px #a4a4a4;*/ }

.route-box:hover {
  font-size: 15px;
  border-color: #ddd;
  /*box-shadow: 0 0 9px 4px #72b5cc;*/
  box-shadow: 0 0 7px 2px #a4a4a4; }

.route-box-header {
  border-color: #5398dd !important;
  background-color: #5398dd !important;
  color: #fff !important;
  padding: 0px 15px !important;
  padding-top: 0px !important;
  padding-right: 15px !important;
  padding-bottom: 0px !important;
  padding-left: 15px !important; }

/*.modal-header{
    
    background-color:#5398dd !important;
    color:#fff!important;
    
}*/
.modal-open {
  overflow: scroll; }

.top-bottom-buffer {
  padding-top: 15px;
  padding-bottom: 15px; }

.btn-primary {
  background-color: #5398dd !important; }

.btn-default {
  background-color: #eee !important; }

.merch-badge {
  width: 17px;
  height: 17px;
  border-radius: 2.9em;
  background-color: #fff;
  color: #2ba04c;
  padding-right: 0.4em;
  padding-left: 0.4em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  margin-right: .4em;
  font-size: 12px; }

.merch-label {
  display: inline;
  padding: 0.4em 0.4em 0.4em 0.5em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }

.merch-label-green {
  background-color: #2ba04c; }

.merch-label-2ndpull {
  display: inline;
  padding: .1em .3em .1em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #5398dd;
  margin-left: 1px; }

.dnd-drag-start {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0.7;
  border: 1px dashed #000;
  height: 39px; }

.dnd-drag-enter {
  opacity: 0.7;
  border: 1px dashed #000;
  height: 39px; }

.dnd-drag-over {
  border: 1px dashed #000;
  height: 39px; }

.dnd-sortable-drag {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0.7;
  border: 1px dashed #000;
  height: 39px; }

.info-timing-l1 {
  padding-top: 8px; }

.info-timing-l2 {
  color: #636363; }

/*

Menu bar styles

*/
.lable-date {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  float: left;
  vertical-align: middle;
  padding: 7px 10px 0 0; }

.menu-input,
.dropdown-menu {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.dispatch-search {
  float: left;
  align-content: center;
  width: 100%; }

.menu-input {
  border-left-width: 0px !important; }

.dispatch-search-addon {
  background-color: #f5f5f5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.refresh-icon {
  font-size: 18px;
  margin: 0 -10px; }

.refresh-txt {
  font-size: 12pt;
  color: #fff;
  padding: 6px 10px 0 0; }

.col-refresh {
  margin-right: -20px !important; }

.menu-dd {
  min-width: 150px !important; }

.dd-menu-ul {
  margin-top: -1px;
  padding: 0 !important;
  background-color: #d3e5f6 !important; }

.dd-menu-items > li {
  cursor: pointer !important; }

.dd-menu-items > li,
.dd-menu-items > li > a,
.dd-menu-a {
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #a8cbee;
  padding-top: 5px;
  padding-bottom: 5px; }

.stop-circle {
  left: 10%;
  width: 24px;
  height: 24px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;
  outline: 8px solid #ffffff;
  position: absolute;
  z-index: 99;
  font-weight: 700; }

.circle-p {
  font-size: 15px !important;
  font-weight: 300 !important;
  background-color: #e3e3e3 !important;
  border-color: #b0b0b0; }

.dispatch-container {
  margin: 28px 10px 10px 10px;
  border: 2px solid #ebebeb;
  height: 100%;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5); }

.distpatch-menu-row {
  color: #fff;
  background-color: #959595;
  padding: 5px 0;
  font-size: 12 px; }

.dispatch-row {
  padding: 10px; }

.dispatch-row-outer {
  margin: 0 -15px; }

.item-row {
  height: auto;
  border: 1px solid #dddddd;
  margin-left: -15px; }

.col-stop-item {
  width: 12.5% !important;
  padding: 0px !important;
  margin: 0px !important;
  float: left; }

.route-item-outer {
  padding-top: 10px;
  height: auto;
  position: relative; }

.stop-ln-top,
.stop-ln-btm {
  position: absolute;
  z-index: 19;
  font-size: 10px;
  left: 48%;
  height: auto;
  width: 30%; }

.stop-ln-top {
  top: 11px; }

.stop-ln-btm {
  top: 24px; }

.stop-ln1,
.stop-ln2,
.stop-ln3 {
  padding-left: 0;
  font-size: 10px; }

.stop-ln1 {
  padding-top: 30px; }

.stop-ln3 {
  color: #636363; }

.stop-line {
  position: relative;
  top: 19%;
  left: 10%;
  z-index: -10; }

.stop-line-dash {
  border-top: 1px dashed gray; }

.stop-line-solid {
  border-top: 1px solid gray; }

.route-info-outer {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0px;
  height: auto; }

.route-start {
  text-align: right;
  width: 100%;
  color: #636363;
  margin-bottom: -20px;
  padding-right: 10px;
  padding-top: 12px;
  height: auto-50px; }

.info-image {
  position: relative;
  margin-bottom: -12px;
  padding-left: 5%;
  width: 32px;
  height: 32px; }

img.img-persion {
  border-width: 4px;
  border-style: solid;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  cursor: pointer; }

img-circle-me {
  border: 1px solid black; }

.route-info {
  width: 100%;
  background-color: #ebebeb !important;
  border: 1px;
  height: 50px; }

.info-name-l1 {
  padding-top: 8px; }

.info-name-l2 {
  font-weight: bold; }

.info-name {
  width: 75%;
  background-color: #5398dd;
  color: #fff;
  float: left;
  height: 50px;
  padding-left: 30%; }

.info-timing {
  width: 25%;
  float: left;
  border-left: 2px solid White;
  border-right: 2px solid White;
  height: 50px; }

.info-timing-l1 {
  padding-top: 4px;
  padding-bottom: 4px; }

.info-timing-l2 {
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
  background-color: #ebebeb; }

/*

Menu bar styles

*/
.lable-date {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  float: left;
  vertical-align: middle;
  padding: 7px 10px 0 0; }

.menu-input,
.dropdown-menu {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.dispatch-search {
  float: left;
  align-content: center;
  width: 100%; }

.menu-input {
  border-left-width: 0px !important; }

.dispatch-search-addon {
  background-color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.refresh-icon {
  font-size: 18px;
  margin: 0 -10px; }

.refresh-txt {
  font-size: 12pt;
  color: #fff;
  padding: 6px 10px 0 0; }

.col-refresh {
  margin-right: -20px !important; }

.menu-dd {
  min-width: 150px !important; }

.dd-menu-ul {
  margin-top: -1px;
  padding: 0 !important;
  background-color: #d3e5f6 !important; }

.dd-menu-items > li {
  cursor: pointer !important; }

.dd-menu-items > li,
.dd-menu-items > li > a,
.dd-menu-a {
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #a8cbee;
  padding-top: 5px;
  padding-bottom: 5px; }

.btn-arrow {
  border-radius: 0 !important;
  border: 0 !important;
  font-family: Helvetica, Roboto, Arial, sans-serif !important;
  color: #822433;
  font-weight: bold;
  padding: 7px 14px !important; }
  .btn-arrow:hover {
    color: #aa2f43 !important; }
  .btn-arrow:active {
    color: #aa2f43 !important; }
  .btn-arrow:on {
    color: #aa2f43 !important; }

.dispatch-store-row:hover {
  background-color: #F6F6F6;
  cursor: pointer; }

.dispatch-store-row-cell {
  border: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-left-width: 1px;
  border-bottom-width: 0px;
  border-color: #ddd;
  padding: 9px 9px 9px 9px;
  color: #868686; }
