
  

    <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" dropdown>
              <a class="planning-toggle" dropdownToggle dropdown-open>Welcome {{userName}} <b class="caret"></b></a>
              <ul class="dropdown-menu" dropdownMenu aria-labelledby="planning-dropdown"  >
                <li><a href="/logout.html">Sign Out</a></li>
              </ul>
            </li>

             <li >
             <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            </li>
          </ul>

          