.plm-mrt-select {
  width: 350px !important; }

.plm-mrt-select-row {
  Height: 300px;
  overflow-x: hidden !important;
  overflow-y: auto; }

.plm-mrt-select-name {
  padding-top: 5px !important;
  padding-left: 10%;
  font-size: 15px !important;
  color: #5398dd;
  font-weight: 600; }

.plm-route-row-select {
  height: 36px !important; }

.plm-modal-select {
  width: 450px !important; }

.plm-modal-select-row {
  Height: 400px;
  overflow-x: hidden !important;
  overflow-y: auto; }

.plm-info-row-select {
  height: 66px !important; }

.plm-info-image-select {
  width: 100%;
  height: 32px; }

.plm-merch-select {
  padding: 5px; }
  .plm-merch-select:hover {
    background-color: #d3e5f6; }

.plm-select-name {
  padding-top: 20px !important;
  padding-left: 10%;
  font-size: 15px !important;
  color: #5398dd;
  font-weight: 600; }

.plm-remove-btm-margin {
  margin-bottom: -5px;
  margin-top: -5px; }

.plm-item-inner-route-add {
  border: 1px solid #dddddd;
  margin-top: -32px;
  height: 96px !important;
  position: relative; }
  .plm-item-inner-route-add:hover {
    background-color: #d3e5f6 !important; }

.plm-item-route {
  font-weight: 600;
  position: absolute;
  top: 85%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -85%);
  color: #777777 !important; }

.plm-item-row-route {
  margin: 0 -15px !important;
  border: 1px solid #dddddd;
  height: 66px !important; }

.plm-row-day-route {
  padding-bottom: 32px;
  border: 0 solid transparent !important; }

.plm-row-outer-route {
  margin-right: -15px !important;
  padding-top: 32px !important; }

.plm-item-inner-route {
  height: 96px !important;
  position: relative; }
  .plm-item-inner-route:hover {
    background-color: #d3e5f6; }

.plm-info-image {
  margin-top: -32px;
  position: relative;
  width: 100%;
  height: 32px; }

.plm-route-info-outer {
  padding-top: 25px !important;
  width: 100%;
  margin: 0px;
  background-color: #5398dd !important;
  height: 66px;
  color: white;
  font-size: 16px;
  font-weight: 600; }

.plm-tabs {
  padding: 0;
  margin: 0; }

.plm-tab {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  width: 50% !important;
  height: 40px !important;
  float: left !important;
  border: 1px solid transparent !important;
  padding-top: 7px;
  margin-bottom: -5px !important;
  margin-top: -5px !important;
  cursor: pointer; }
  .plm-tab:hover {
    background-color: #378fe7 !important;
    border: 1px solid #145ca4 !important;
    border-bottom: 5px solid #f4a66e !important; }

.plm-tab-active {
  border-bottom: 5px solid #eb6c11 !important; }

.col-plm-item {
  width: 14.285% !important;
  padding: 0px !important;
  margin: 0px !important;
  float: left;
  border-right: 1px solid #dddddd; }

.col-plm-day {
  color: #2672be !important;
  padding: 10px 0 10px 0 !important;
  margin: auto !important;
  font-weight: 600;
  font-size: 13px !important;
  border: 0 solid transparent !important;
  text-transform: uppercase; }

.plm-row-day {
  border: 0 solid transparent !important; }

.plm-item-outer {
  margin: 0 -15px; }

.plm-item-row {
  margin: 0 -15px !important;
  border: 1px solid #dddddd; }

.plm-row-outer {
  margin-right: -15px !important; }

.plm-item-inner {
  height: 86px !important;
  position: relative; }
  .plm-item-inner:hover {
    background-color: #d3e5f6; }

.plm-item-off {
  background-color: #f7f7f7 !important; }
  .plm-item-off:hover {
    background-color: #eaeaea !important; }

.plm-item-text {
  right: 0;
  left: 0;
  padding-right: 5px;
  padding-top: 2px;
  color: black;
  text-align: right;
  position: absolute;
  font-size: 10px !important;
  font-weight: 700 !important; }

.plm-route-text {
  color: #5398dd; }

.plm-item {
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.plm-item-remove {
  z-index: 100;
  padding: 2px;
  cursor: pointer;
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px; }
  .plm-item-remove:hover {
    color: #db2836; }

.plm-item-add {
  font-size: 30px !important;
  color: #919191 !important;
  background-color: #f7f7f7 !important; }
  .plm-item-add:hover {
    background-color: #eaeaea !important; }

.plm-item-add-red {
  font-size: 30px !important;
  color: #919191 !important;
  background-color: white; }
  .plm-item-add-red:hover {
    background-color: #e8f1fa !important; }

.plm-name-l1 {
  padding-top: 2px;
  font-size: 15px;
  font-weight: 600; }

.plm-name-l2 {
  font-weight: 400; }

.plm-name-l3 {
  margin-top: -2px;
  font-weight: 400; }

.plm-name {
  width: 100%;
  background-color: #5398dd;
  color: #fff;
  float: left;
  height: 58px;
  padding-left: 35%; }

.plm-phone {
  color: #2165a9 !important; }
