
    tbody {
    display:block;
    height:500px;
    overflow-y:auto;
}
    thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
    .zeropadding{

        padding:0px;
        border:1px solid #ddd
    }


    tr:hover td {
        background-color: #337ab7;
        color:#fff;
       cursor: pointer; cursor: hand; 
    -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
tr:hover td:first-child  {
           background-color: #337ab7;
           color:#fff;
            cursor: pointer; cursor: hand; 
    -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
tr:hover td:last-child  {
           background-color: #337ab7;
           color:#fff;
            cursor: pointer; cursor: hand; 
    -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.status-main-static{
    background-color: #5bc0de;margin-top: -11px;margin-left: -27px;margin-right: -27px;height: 30px;vertical-align: middle;
    top: 116px;
    padding: 5px 0;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
}

.status-detail
{
    vertical-align: middle;margin-top: 0px;height: 31px;margin-left: 33px;font-weight: 700;font-size: 15px;color: #333333;
}