<div class="col-xs-12 zeropadding">
    <table class="table" style="color:#333">
        <thead>
            <tr>
                <th>
                    <div class="input-group col-xs-12">
                        <span class="input-group-addon dispatch-search-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" class="form-control menu-input" id="txtStoreSearch" placeholder="Search Store" 
                                [(ngModel)]="keyword" 
                                (focus)="showDropdownList()"
                                (input)="reloadListInDelay()">
                        <!--<input type="text" #filterInput [(ngModel)]="filterText" class="form-control menu-input" id="txtSearch" placeholder="Search">-->
                    </div>
                </th>
            </tr>
            <tr>
                <th>Store</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let acct of storeLookupList" 
                (click)="addStore(acct)">
                <td><p style="font-size:medium;margin:0px">{{acct.AccountName}} (#{{acct.SAPAccountNumber}})</p><p style="font-size:small;margin:0px">
                  {{acct.Address}},{{acct.City}}, {{acct.State}}-{{acct.PostalCode}}</p></td>
                
            </tr>

      
        </tbody>
    </table>
</div>
