<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="hmacApplicationSecrets" type="System.Configuration.NameValueSectionHandler" />
    <section name="hmacInternalExternalUris" type="System.Configuration.NameValueSectionHandler" />
    <section name="azureStorageConnections" type="System.Configuration.NameValueSectionHandler" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="dBConnect" value="Portal_DataConnection_DEV" />
  </appSettings>
  <connectionStrings>
    <add name="Portal_DataConnection_DEV" connectionString="data source=bsccap108;initial catalog=Portal_Data;persist security info=True;user id=OnePortal_WILTX006;password=p@$$w0rd1!; Application Name=FFSMYDA_WEBSVC" providerName="System.Data.SqlClient" />
    <add name="Azure.Connect.Briefcase" connectionString="DefaultEndpointsProtocol=https;AccountName=mydpsappbriefcase;AccountKey=MjP+vlwqEuU8gmVu2BXLCC4VGzhfFROntyL42uDHYc2AvoBslADEwG+TymL8j0J6sv1H35WjcOvlhZUZKqPjow==" />
  </connectionStrings>
  <hmacApplicationSecrets>
    <add key="MYDAY" value="VbVwqnVJElPvxO1YJYvVPplGahfA4eDmtwLTH3C6G1k=" />
    <add key="MYDAYTEST" value="9gqPpzWB4kD9w0Lw4PwbzQVy2jrqvAx3bu6SHatGEzE=" />
    <add key="MYDAYBETA" value="I4fHkmaW5LqbSuG5lBGFOkGh6w0ekhLwLAwosaxTyLU=" />
    <add key="FFSMYDAY" value="DgjRnqB2MPYQ4TWBqm7CIoLjDxdwxBK931j5UzQYnU8=" />
    <add key="FFSMYDAYTEST" value="pWpHKFlOZTiOhhQg1ThXBbkBBuHyTavGRIE4+GjRIYA=" />
    <add key="FFSMYDAYBETA" value="KV8hFC8riyLcdwhurOfuIb16VVlB18+8K5YgNXk8P40=" />

  </hmacApplicationSecrets>
  <hmacInternalExternalUris>
    <add key="EXTERNAL" value="webservices-external.local.net" />
    <add key="INTERNAL" value="localhost" />
  </hmacInternalExternalUris>
  <azureStorageConnections></azureStorageConnections>
  <system.web>
    <compilation targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>