
<div class="container-fluid">
  
  <div class="row row-planing">
    <div class="col-md-12">
       <!--  left side   Form   from here    -->
       <div class="col-md-4">         
          
           <storeitem (storeSelected)="setselectedStore($event)" [storeLookupList]=inputAcctLookupList [MerchGroupItem]=item></storeitem>
           <stores-list [storeListData]="inputAcctList" (storeListSelected)="setListselectedStore($event)" [(selectedIdx)]=listIndex></stores-list>       
         </div> 
          <!--  rigt side   Form   from here    -->
           <div class="col-md-8 no-border-radius">
             <storedetail  (refreshList)="refreshStoreList($event)" 
             [storeSelectedInfo]=selStoreInfo [routeList]=routesList [daysofWeek]=weekDays [selectedRoute]=selDefaultRoute 
             [ShowSaveMsg]=SaveMsg [MerchGroupItem]=item (cancelDetail)="cancelDetailStore($event)"></storedetail>
           </div>
    </div>
  </div>


<!--StoreList popup-->

</div>
<app-spinner [isRunning]="isRequesting"></app-spinner>








 
