<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ImageLibraryNm" value="BCStoreTieInImage" />
    <add key="SiteURL" value="http://bplnshp02/promotions/" />
    <add key="SiteName" value="http://bplnshp02/" />
    <add key="fileExtension" value=".png" />
    <add key="SessionTime" value="24" />
    <add key="ThumbPrintVal" value="6C54FAA8045A8B962A97FAFF0270F06ECE8CC944" />
    <add key="ThumbPrintName" value="ADFS" />
    <add key="validateSML" value="0" />
    <!--MSTR FTP Keys -->
    <add key="FtpServer" value="transfer.cloud.microstrategy.com" />
    <add key="FtpUserName" value="c327ftp10" />
    <!--Leave FtpSubFolder blank ("") to put file at the root.  folder should appear as follows:  "/Folder/SubFolder" CASE SENSITIVE (UNIX Server) -->
    <add key="FtpSubFolder" value="/prod_images/Survey_Image_Int_Test" />
    <add key="FtpPassword" value="Nn&amp;kdAD73" />
    <add key="MaxHeight" value="680" />
    <add key="MaxWidth" value="680" />
    
    <!--END -->
  </appSettings>
  <connectionStrings>
    <add name="Portal_DataConnectionDEV" connectionString="data source=vh-portal2;initial catalog=Portal_Data204;persist security info=True;user id=OnePortal;password=OnePortal" providerName="System.Data.SqlClient" />
    <add name="Portal_DataConnection1" connectionString="data source=BSCCSQ07;initial catalog=PORTAL_DATA_INT;persist security info=True;user id=PortalData_DBO_INT;password=LyLqBiICucc4sIJ" providerName="System.Data.SqlClient" />
    <add name="Portal_DataConnection2" connectionString="data source=bsccap121;initial catalog=Portal_Data;persist security info=True;user id=OnePortal;password=OnePortalQA" providerName="System.Data.SqlClient" />
    <add name="Portal_DataConnection" connectionString="data source=bsccap108;initial catalog=Portal_Data;persist security info=True;user id=OnePortal_WILTX006;password=p@$$w0rd1!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="POST" allowed="true" />
          <add verb="GET" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <modules>
      <add name="BCModule" type="DPSG.Portal.BC.Services.HTTPModule.BCModule" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <!-- Added -->
    <extensions>
      <behaviorExtensions>
        <add name="postServiceWebHttp" type="DPSG.Portal.BC.Services.NullableSupportingWebHttpBehaviourExtension, DPSG.Portal.BC.Services" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <services>
      <service name="DPSG.Portal.BC.Services.OperationContract.BCService">
        <endpoint address="../BCService.svc" binding="webHttpBinding" contract="DPSG.Portal.BC.Services.OperationContract.IBCService" behaviorConfiguration="json" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <postServiceWebHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DPSG.Portal.BC.Services.BCService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="DwsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="2097152" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="CopySoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="2097152" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>

        <binding name="ImagingSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="2097152" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding maxReceivedMessageSize="2097152">

        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bplnshp02/promotions/_vti_bin/copy.asmx" binding="basicHttpBinding" bindingConfiguration="CopySoap" contract="CopyFileServiceRef.CopySoap" name="CopySoap" />
      <endpoint address="http://bplnshp02/promotions/_vti_bin/Dws.asmx" binding="basicHttpBinding" bindingConfiguration="DwsSoap" contract="DwsSoapClientRef.DwsSoap" name="DwsSoap" />
      <endpoint address="http://bplnshp02/promotions/_vti_bin/Imaging.asmx" binding="basicHttpBinding" bindingConfiguration="ImagingSoap" contract="ImageClientRef.ImagingSoap" name="ImagingSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>