<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DPSG.Portal.BottlerMappingCalculator.Properties.Settings.Portal_DataVH2ConnectionString"
            connectionString="Data Source=VH-PORTAL2;Initial Catalog=Portal_DataVH2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DPSG.Portal.BottlerMappingCalculator.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=vh-portal1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>