<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Portal_DataConnection" connectionString="data source=bsccap108;initial catalog=Portal_Data_SREINT;user id=OnePortal;password=OnePortal" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>