<div class="plm-merch-select">

    <div class="row plm-info-row-select">
        <div class="col-md-2">
            <div class="plm-info-image-select">
                <!--<img class='img-persion circle-white' src="contents/img/noimage.PNG" alt="Persion Image">-->
                <img class="img-persion circle-white" [src]="Merchandiser.AbsoluteURL ? Merchandiser.AbsoluteURL : '/assets/img/noimage.PNG'">
            </div>
        </div>

        <div class="col-md-10">
            <div class="plm-select-name">{{Merchandiser.FirstName}} {{Merchandiser.LastName}}</div>
        </div>
    </div>

</div>