.status-main-preview{
    background-color: #ec971f;margin-top: 0px;margin-left: -27px;margin-right: -27px;height: 30px;vertical-align: middle;
}
.status-main-not-schedule{
    background-color: #A51709;margin-top: 0px;margin-left: -27px;margin-right: -27px;height: 30px;vertical-align: middle;
}


.status-main-schedule{
    background-color: #5cb85c;margin-top: 0px;margin-left: -27px;margin-right: -27px;height: 30px;vertical-align: middle;
}

.status-main-noshow{
    display: none;
}

.status-detail
{
    vertical-align: middle;margin-top: 6px;height: 31px;margin-left: 33px;font-weight: 700;font-size: 15px;color: white;
}
