<div class="container-fluid dispatch-container">

    <div class="row distpatch-menu-row navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-md-5 pull-left remove-col-margin">
                <div class="lable-report">View:</div>
                <div class="float-left">
                    <button class="btn btn-arrow btn-arrow-left" type="button" (click)="isMerchTab = !isMerchTab; isShowDropDown=false;">
                         <i class="fa fa-angle-left refresh-icon"></i>
                    </button>
                </div>
                <div class="dropdown" style="float: left">
                    <button class="btn btn-me-light menu-dd-pl menu-dd-txt" type="button" (click)="isShowDropDown = !isShowDropDown">
                      {{isMerchTab? 'MERCHANDISERS' : 'ROUTES' }}

                        &nbsp;&nbsp;<span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu dispaly-block menu-dd-pl dd-menu-ul" *ngIf="isShowDropDown">
                        <li (click)="isMerchTab=true; isShowDropDown=false;" [class]="isMerchTab? 'active' : ''">
                            <a class="dd-menu-a text-center">MERCHANDISERS</a>
                        </li>
                        <li (click)="isMerchTab=false; isShowDropDown=false;" [class]="isMerchTab? '' : 'active'">
                            <a class="dd-menu-a text-center">ROUTES</a>
                        </li>
                    </ul>

                </div>
                <div class="float-left">
                    <button class="btn btn-arrow btn-arrow-right" type="button" (click)="isMerchTab = !isMerchTab; isShowDropDown=false;">
                         <i class="fa fa-angle-right refresh-icon"></i>
                    </button>
                </div>
            </div>

            <div class="col-md-3 text-center">
                &nbsp;


            </div>
            <div class="col-md-4 pull-right remove-col-margin">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="dispatch-row" *ngIf="isMerchTab">

        <!-- Have need to send full data object  - may sinc it
        {{MerchToDayRouteList | json}}
         -->

        <div [hidden]="msgText_MerchToDayRouteList.length > 0 || errText.length > 0" class="row" *ngFor="let MerchToDayRoute of RouteMercData.MerchToDayRouteList; let idx=index">
            <pl-merch-row (deleteRoute)="onDeleteRoute($event)" (addRoute)="onAddRoute($event)" [MerchToDayRoute]="MerchToDayRoute" [RouteToAssigne]="RouteMercData.RouteToAssigne" [RouteList]="RouteMercData.RouteList" [idx]="idx">pl-merch-row</pl-merch-row>
        </div>

        <div class="row dispatch-row-msg text-center" [hidden]="msgText_MerchToDayRouteList.length == 0">
            <h2>{{msgText_MerchToDayRouteList}} </h2>
        </div>

        <div class="row dispatch-row-err text-center" [hidden]="errText.length == 0">
            <h2>{{errText}} </h2>
        </div>

    </div>

    <!-- Have need to send full data object  - may sinc it -->
    <div class="dispatch-row" *ngIf="!isMerchTab">


        <div [hidden]="msgText_RouteToDayMerchList.length > 0 || errText.length > 0" class="row" *ngFor="let RouteToDayMerch of RouteMercData.RouteToDayMerchList; let idx=index">
            <pl-route-row (deleteMerch)="onDeleteMerch($event)" (addMerchandiser)="onAddMerchandiser($event)" [RouteToDayMerch]="RouteToDayMerch" [MerchToAssigne]="RouteMercData.MerchToAssigne" [MerchandiserList]="RouteMercData.MerchandiserList" [idx]="idx">pl-rout-row</pl-route-row>
        </div>


        <div class="row dispatch-row-msg text-center" [hidden]="msgText_RouteToDayMerchList.length == 0">
            <h2>{{msgText_RouteToDayMerchList}} </h2>
        </div>

        <div class="row dispatch-row-err text-center" [hidden]="errText.length == 0">
            <h2>{{errText}} </h2>
        </div>

    </div>
</div>
<app-spinner [isRunning]="isRequesting"></app-spinner>