<!-- header  start -->
<div class="row fr-row-hdr" *ngIf="storeSelectedInfo!=undefined">
    <div class="div-img-store float-left">
        <img alt="Store Image" class="img-hdr-store float-left" [src]="storeSelectedInfo.ImageURL">
    </div>
    <div class="float-left">
        <div class="hdr-str-text ">{{storeSelectedInfo.AccountName}}</div>
        <div class="hdr-str-subtext">{{storeSelectedInfo.Address}}, {{storeSelectedInfo.City}}, {{storeSelectedInfo.State}}, {{storeSelectedInfo.PostalCode}}</div>
    </div>
</div>
<!-- header  End -->

<!-- Body  start -->

<div class="row fr-row-body" *ngIf="storeSelectedInfo!=undefined">
    <div class="col-md-1"></div>
    <div class="col-md-6">

        <div class="row pnl-ar-row">


            <div class="col-md-2 fr-store-icon text-center">

                <i class="fa fa-map-marker" aria-hidden="true"></i>

            </div>
            <div class="col-md-10 fr-store-col">
                <span dropdown (onToggle)="toggled($event)" class="fr-user-input">
                    <a href id="simple-dropdown" dropdownToggle>
                        {{selectedRoute.RouteName}}
                    </a>
                    <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                        <li *ngFor="let r of routeList" role="menuitem">
                            <a class="dropdown-item" (click)="onSelectRoute(r)">{{r.RouteName}}</a>
                        </li>
                    </ul>
                </span>

            </div>


        </div>

        <div class="row pnl-ar-row">

            <div class="col-md-2 fr-store-icon text-center">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-10 fr-store-col">
                <div class="cal-text"> Days store merchandised</div>

            </div>

        </div>

        <div class="row pnl-ar-row adj-top-mrg">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="cal-btn">
                    <button type="button" class="btn btn-sm schedule-bordercolor" (click)="onDaysClick(5)" style="margin-right:17px">Mon - Fri</button>
                    <button type="button" class="btn btn-sm schedule-bordercolor" (click)="onDaysClick(7)">Mon - Sun</button>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>

        <div class="row pnl-ar-row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="tooltipA">
                    2nd Pull
                    <span class="help-2nd-pull">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <span class="tooltiptext">
                        2nd Pull is checked when the store will be serviced a second time for the assigned route.
                    </span>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="cal-text-label">Assigned Route</div>
            </div>
        </div>

        <div class="row day-checkbox-store">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div *ngFor="let week of daysofWeek" class="chk">
                    <label class="lbl-chkbox">
                        <input type="checkbox" name="week" [value]="week.Weeknumber" [ngModel]="week.FirstPull" (change)="onChkChange(week)"> {{week.WeekName}}
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <div *ngFor="let p of daysofWeek" class="chk">
                    <label>
                        <input type="checkbox" name="pull" [disabled]="!p.FirstPull" [value]="p.value" [ngModel]="p.SecondPull" (change)="onSecondPullChkChange(p)">
                    </label>
                </div>
            </div>
            <div class="col-md-5">
                <div *ngFor="let p of daysofWeek">
                    <div class="cal-text-label">
                        &nbsp;{{p.RouteName}}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>


    </div>
    <br>
    <br>

    <div class="col-md-5  col-map">


        <ng2-map center="{{storeSelectedInfo.Address}}, {{storeSelectedInfo.City}},{{storeSelectedInfo.State}}, {{storeSelectedInfo.PostalCode}}">
            <marker position="{{storeSelectedInfo.Address}}, {{storeSelectedInfo.City}},{{storeSelectedInfo.State}}, {{storeSelectedInfo.PostalCode}}"
                (markerDragstart)="log($event, 'dragstart')" (markerDragend)="log($event, 'dragend')" draggable="true"></marker>
        </ng2-map>
        <div class="fr-row-ltmap text-center">
            <a class="add-route" target="_blank" href="https://maps.google.com?q={{storeSelectedInfo.Address}},{{storeSelectedInfo.City}},{{storeSelectedInfo.State}},{{storeSelectedInfo.PostalCode}}">
                Location Map</a>
        </div>


    </div>

</div>

<!-- Body  End -->
<br>
<br>
<!-- old one --- Body  start  to remove-->
<!--<div class="row fr-row-body" *ngIf="storeSelectedInfo!=undefined">
    <br><br>

    <!--<div class="col-md-1"></div>-->
<!--<div class="pull-right fr-row-body-msg" *ngIf="ShowSaveMsg">
        <span class="msg-alert">Saved Successfully</span>
    </div>
    <div class="pull-right fr-row-body-fotter">

        <a type="button" class="btn btn-me btn-light-gray" (click)="onCancel()">&nbsp;&nbsp;Cancel&nbsp;&nbsp;</a> &nbsp;&nbsp;
        <a type="submit" class="btn btn-me btn-light-blue" (click)="selectedRoute.RouteID==null?detailModal.show():onSave()">&nbsp;&nbsp;Save&nbsp;&nbsp;</a>


    </div>-->
<!--</div>-->
<!-- Body  End to remove -->



<div class="modal fade" bsModal #detailModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="detailModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Store SetUp</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="comment">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> &nbsp;Default route has not be defined for this store.
                    </label>
                </div>
                <div class="form-group" style="text-align:center">
                    <a class="btn btn-primary addstore-bordercolor" style="border-color:#51626f" (click)="onSave();detailModal.hide();">Ok</a>
                    <a class="btn btn-primary addstore-bordercolor" style="border-color:#51626f" (click)="detailModal.hide();">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>