<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
        <add name="Portal_DataConnection" connectionString="data source=BSCCSQ07;initial catalog=PORTAL_DATA_INT;persist security info=True;user id=PortalData_DBO_INT;password=LyLqBiICucc4sIJ" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>