<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL />
    <DeployIisAppPath />
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MerchConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DPSG.Portal.Merchandiser.WebAPI.DataService.MerchConnection, DPSG.Portal.Merchandiser.WebAPI.DataService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Azure.Connect" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=mydpspoc;AccountKey=f7knytYWtffq9AKTs88pl/FWJvjoJtAOAVco1JX8IAyfRFR/XbdinYqJrT303qGCzGpOVCUeX/lpKQUZakCt4Q==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Azure.Connect_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=mydpspoc;AccountKey=f7knytYWtffq9AKTs88pl/FWJvjoJtAOAVco1JX8IAyfRFR/XbdinYqJrT303qGCzGpOVCUeX/lpKQUZakCt4Q==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MerchConnectionINT" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=BSCCSQ07;Initial Catalog=Merch;Persist Security Info=True;User ID=PortalData_DBO_INT;Password=LyLqBiICucc4sIJ" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MerchConnectionINT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=BSCCSQ07;initial catalog=Merch;persist security info=True;user id=PortalData_DBO_INT;password=LyLqBiICucc4sIJ" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Azure.MerchProd" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=dpsappmerchandiser;AccountKey=C24TrSJ3yPaoFRW5LfQ6PpEUyEd4xQwLv387cFAai37L+m5wyHGutVulqbOQWKaMdncKmyF5qsmPqNZVIvrCjQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Azure.MerchProd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=dpsappmerchandiser;AccountKey=C24TrSJ3yPaoFRW5LfQ6PpEUyEd4xQwLv387cFAai37L+m5wyHGutVulqbOQWKaMdncKmyF5qsmPqNZVIvrCjQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MerchConnectionCloud" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:myday-dev-us-central.database.windows.net,1433;Initial Catalog=Merch;Persist Security Info=False;User ID=merch_web;Password=LyLqBiICucc4sIJ;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MerchConnectionCloud_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:myday-dev-us-central.database.windows.net,1433;Initial Catalog=Merch;Persist Security Info=False;User ID=merch_web;Password=LyLqBiICucc4sIJ;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MerchConnection-Web.config Connection String" />
  </ItemGroup>
</Project>