<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dpsgportalmerchandiserwebapi20170424022720.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dpsgportalmerchandiserwebapi20170424022720.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DPSGPortalMerchandiserWebAPI20170424022720</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DPSGPortalMerchandiserWebAPI20170424022720</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MerchConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DPSG.Portal.Merchandiser.WebAPI.DataService.MerchConnection, DPSG.Portal.Merchandiser.WebAPI.DataService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MerchConnectionDev" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=bsccap108;Initial Catalog=Merch;Persist Security Info=True;User ID=OnePortal;Password=OnePortal;Connect Timeout=3600" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MerchConnectionDev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=bsccap108;initial catalog=Merch;persist security info=True; user id=OnePortal;password=OnePortal; Connect Timeout=3600" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Azure.Connect" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=mydpspoc;AccountKey=f7knytYWtffq9AKTs88pl/FWJvjoJtAOAVco1JX8IAyfRFR/XbdinYqJrT303qGCzGpOVCUeX/lpKQUZakCt4Q==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Azure.Connect_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=mydpspoc;AccountKey=f7knytYWtffq9AKTs88pl/FWJvjoJtAOAVco1JX8IAyfRFR/XbdinYqJrT303qGCzGpOVCUeX/lpKQUZakCt4Q==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MerchConnection-Web.config Connection String" />
  </ItemGroup>
</Project>