<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dpsgdsddeliverytimewebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dpsgdsddeliverytimewebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DPSGDSDDeliveryTimeWebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DPSGDSDDeliveryTimeWebAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DSDDeliveryConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DPSG.DSDDeliveryTime.WebAPI.DataService.DSDDeliveryConnection, DPSG.DSDDeliveryTime.WebAPI.DataService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DSDDeliveryConnectionINT" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=BSCCSQ07;Initial Catalog=DSDDelivery;Persist Security Info=True;User ID=PortalData_DBO_INT;Password=LyLqBiICucc4sIJ" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DSDDeliveryConnectionINT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=BSCCSQ07;initial catalog=DSDDelivery;persist security info=True;user id=PortalData_DBO_INT;password=LyLqBiICucc4sIJ" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DSDDeliveryConnectionQA" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=BSCCAP121;Initial Catalog=DSDDelivery;Persist Security Info=True;User ID=SDM_WEBSVCS_QA;Password=Qalo!#gaR5" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DSDDeliveryConnectionQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=BSCCAP121;initial catalog=DSDDelivery;persist security info=True;user id=SDM_WEBSVCS_QA;password=Qalo!#gaR5" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DeliveryDBContainer" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=bsccap108;Initial Catalog=DSDDelivery;Persist Security Info=True;User ID=OnePortal;Password=OnePortal;Connect Timeout=3600;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DeliveryDBContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DeliveryDB.csdl|res://*/DeliveryDB.ssdl|res://*/DeliveryDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bsccap108;initial catalog=DSDDelivery;persist security info=True;user id=OnePortal;password=OnePortal;connect timeout=3600;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Azure.Connect" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=mydpspoc;AccountKey=f7knytYWtffq9AKTs88pl/FWJvjoJtAOAVco1JX8IAyfRFR/XbdinYqJrT303qGCzGpOVCUeX/lpKQUZakCt4Q==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Azure.Connect_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=mydpspoc;AccountKey=f7knytYWtffq9AKTs88pl/FWJvjoJtAOAVco1JX8IAyfRFR/XbdinYqJrT303qGCzGpOVCUeX/lpKQUZakCt4Q==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Azure.Connect-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DeliveryDBContainer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DSDDeliveryConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DSDDeliveryConnectionINT-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DSDDeliveryConnectionQA-Web.config Connection String" />
  </ItemGroup>
</Project>