USE [Portal_Data]
GO

SET ANSI_PADDING OFF
GO

--If Not Exists (Select * From Sys.schemas Where name = 'POI')
--Begin
--	Create Schema POI
--End

-----------------------------------------
-----------------------------------------
If Exists (Select * From Sys.objects Where object_id = object_id('Staging.RMPoiCategory'))
Drop Table [Staging].[RMPoiCategory]
Go

CREATE TABLE [Staging].[RMPoiCategory](
	[POICAT_ID] [nvarchar](10) NOT NULL,
	[BEVCAT_GL1] [nvarchar](20) NOT NULL,
	[BRANDPKG_GL2] [nvarchar](40) NOT NULL,
	[BEVID] [nvarchar](2) NULL,
	[TRADEMARK] [nvarchar](3) NULL,
	[PACKAGETYPE] [nvarchar](3) NULL,
	[PACKAGEID] [nvarchar](5) NULL,
	[GL1_SORT] [numeric](10, 0) NULL,
	[GL2_SORT] [numeric](10, 0) NULL,
	[ACTIVE] [numeric](10, 0) NULL
) ON [PRIMARY]
GO

-----------------------------------------
-----------------------------------------
If Exists (Select * From Sys.objects Where object_id = object_id('Staging.RMPoiPosition'))
Drop Table [Staging].[RMPoiPosition]
Go

CREATE TABLE [Staging].[RMPoiPosition](
	[POIPOS_ID] [nvarchar](10) NOT NULL,
	[POIPOS_DESC] [nvarchar](30) NOT NULL,
	[CHANNEL] [nvarchar](3) NOT NULL,
	[SORT_ORDER] [numeric](10, 0) NULL,
	[ACTIVE] [numeric](10, 0) NULL
) ON [PRIMARY]
GO

-----------------------------------------
-----------------------------------------
If Exists (Select * From Sys.objects Where object_id = object_id('POI.Position'))
Begin
	ALTER TABLE [POI].[Position] Drop CONSTRAINT [FK_Position_Channel];
	Drop Table [POI].[Position]
End
Go

CREATE TABLE [POI].[Position](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[RMPositionID] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[SortIOrder] [int] NOT NULL,
	[ChannelID] [int] NULL,
	[Active] [bit] NOT NULL,
	[ChangeTrackNumber] [int] NOT NULL,
	[LastModified] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [POI].[Position]  WITH CHECK ADD  CONSTRAINT [FK_Position_Channel] FOREIGN KEY([ChannelID])
REFERENCES [SAP].[Channel] ([ChannelID])
GO

ALTER TABLE [POI].[Position] CHECK CONSTRAINT [FK_Position_Channel]
GO

-----------------------------------------
-----------------------------------------
If Exists (Select * From Sys.objects Where object_id = object_id('POI.Category'))
Begin
	ALTER TABLE [POI].Category Drop CONSTRAINT [FK_Category_BevType] 
	ALTER TABLE [POI].Category Drop CONSTRAINT [FK_Category_Package] 
	ALTER TABLE [POI].Category Drop CONSTRAINT [FK_Category_PackageType] 
	ALTER TABLE [POI].Category Drop CONSTRAINT [FK_Category_TradeMark] 
	Drop Table [POI].Category
End
Go

CREATE TABLE [POI].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[RMCategoryID] [varchar](50) NOT NULL,
	[BevCategory] [varchar](50) NOT NULL,
	[BrandPkgCategory] [varchar](50) NOT NULL,
	[BevTypeID] [int] NULL,
	[TradeMarkID] [int] NULL,
	[PackageTypeID] [int] NULL,
	[PackageID] [int] NULL,
	[BevCategorySortOrder] [int] NOT NULL,
	[BrandPkgCategorySortOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[IsTen] [bit] NOT NULL,
	[ChangeTrackNumber] [int] NOT NULL,
	[LastModified] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [POI].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_BevType] FOREIGN KEY([BevTypeID])
REFERENCES [SAP].[BevType] ([BevTypeID])
GO

ALTER TABLE [POI].[Category] CHECK CONSTRAINT [FK_Category_BevType]
GO

ALTER TABLE [POI].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Package] FOREIGN KEY([PackageID])
REFERENCES [SAP].[Package] ([PackageID])
GO

ALTER TABLE [POI].[Category] CHECK CONSTRAINT [FK_Category_Package]
GO

ALTER TABLE [POI].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_PackageType] FOREIGN KEY([PackageTypeID])
REFERENCES [SAP].[PackageType] ([PackageTypeID])
GO

ALTER TABLE [POI].[Category] CHECK CONSTRAINT [FK_Category_PackageType]
GO

ALTER TABLE [POI].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_TradeMark] FOREIGN KEY([TradeMarkID])
REFERENCES [SAP].[TradeMark] ([TradeMarkID])
GO

ALTER TABLE [POI].[Category] CHECK CONSTRAINT [FK_Category_TradeMark]
GO

-----------------------------------------
-----------------------------------------
ALTER Proc [ETL].[pStageRM]
AS
	/*
	1. Location
	2. Accounts
	3. Route Master
	4. Route Schedule
	5. Item Master
	6. Package
	7. Employee
	8. POI Category
	9. POI Postion

	*/

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	-- 1. Locations
	Truncate Table Staging.RMLocation

	Insert Into Staging.RMLocation(LOCATION_ID, LOCATION_NAME, LOCATION_ADDR1, LOCATION_ADDR2, LOCATION_CITY, LOCATION_STATE, LOCATION_ZIP, LOCATION_PHONE, LOCATION_FAX, COMPANY_NAME, SUPPLIER_LOCATION_NUMBER)
	SElect LOCATION_ID, LOCATION_NAME, LOCATION_ADDR1, LOCATION_ADDR2, LOCATION_CITY, LOCATION_STATE, LOCATION_ZIP, LOCATION_PHONE, LOCATION_FAX, COMPANY_NAME, SUPPLIER_LOCATION_NUMBER
	From RM..ACEUSER.LOCATION;

	-- 2. Load Accounts into Staging
	Truncate Table Staging.RMAccount;

	INSERT INTO Staging.RMAccount(CUSTOMER_NUMBER, LOCATION_ID, CUSTOMER_NAME, CUSTOMER_STREET, CITY, STATE
			, POSTAL_CODE, CONTACT_PERSON, PHONE_NUMBER, LOCAL_CHAIN, CHANNEL, ACTIVE)
	Select CUSTOMER_NUMBER, LOCATION_ID, CUSTOMER_NAME, CUSTOMER_STREET, CITY, STATE
			,POSTAL_CODE, CONTACT_PERSON, PHONE_NUMBER, LOCAL_CHAIN, CHANNEL, ACTIVE
	From RM..ACEUSER.CUSTOMERS

	-- 3. Route Master
	Truncate Table Staging.RMRouteMaster;

	Insert Into Staging.RMRouteMaster(ROUTE_NUMBER, ROUTE_DESCRIPTION, ACTIVE_ROUTE, ROUTE_TYPE, LOCATION_ID, DEFAULT_EMPLOYEE, ACTIVE)
	Select ROUTE_NUMBER, ROUTE_DESCRIPTION, ACTIVE_ROUTE, ROUTE_TYPE, LOCATION_ID, DEFAULT_EMPLOYEE, ACTIVE	
	From RM..ACEUSER.ROUTE_MASTER

	-----------------------------------------------------
	-- 4. RouteSchedule ----------------------------------
	Truncate Table Staging.RMRouteSchedule;

	Insert Into Staging.RMRouteSchedule(ROUTE_NUMBER,CUSTOMER_NUMBER,LOCATION_ID,FREQUENCY,START_DATE,DEFAULT_DELIV_ROUTE,SEQUENCE_NUMBER,SEASONAL,SEASONAL_START_DATE,SEASONAL_END_DATE)
	Select		ROUTE_NUMBER,CUSTOMER_NUMBER,LOCATION_ID,FREQUENCY,START_DATE,DEFAULT_DELIV_ROUTE,SEQUENCE_NUMBER,SEASONAL,SEASONAL_START_DATE,SEASONAL_END_DATE
	From RM..ACEUSER.ROUTE_SCHEDULE;

	-----------------------------------------------------
	-- 5. ItemMaster ----------------------------------
	Truncate Table Staging.RMItemMaster

	Insert Into Staging.RMItemMaster
	Select Distinct Location_ID, ITEM_NUMBER
	From RM..ACEUSER.ITEM_MASTER
	Where Active = 1
		
	--------------------------------------------
	-- 6. Package -------------------------------
	--Load Packages into Staging
	Truncate Table Staging.RMPackage

	Insert Into Staging.RMPackage
	Select PACKAGEID, DESCRIPTION, Substring(PACKAGEID, 1, 3) SAPPackageTypeID, SUBSTRING(PACKAGEID, 4, 2) SAPPackageConfigID
	From RM..ACEUSER.PACKAGE;

	--------------------------------------------------------
	-- 7. Employee -----------------------------------------
	Truncate Table Staging.RMEmployee

	Insert Into Staging.RMEmployee
	Select EMPLOYEEID, JOBROLE, FIRSTNAME, LASTNAME, LOCATION_ID, ACTIVE, GSN
	From RM..ACEUSER.EMPLOYEES

	------------------------------------------------------
	-- 8. POI Category -------------------------------------
	Truncate Table Staging.RMPoiCategory

	Insert Into Staging.RMPoiCategory
	Select POICAT_ID, BEVCAT_GL1, BRANDPKG_GL2, BEVID, TRADEMARK, PACKAGETYPE, PACKAGEID, GL1_SORT, GL2_SORT, ACTIVE
	From RM..ACEUSER.POI_CATEGORY

	--------------------------------------------------------
	-- 9. POI Position -------------------------------------
	Truncate Table Staging.RMPoiPosition

	Insert Into Staging.RMPoiPosition
	Select POIPOS_ID, POIPOS_DESC, CHANNEL, SORT_ORDER, ACTIVE
	From RM..ACEUSER.POI_POSITION

Go

--REMEMBER TO REPLACE THIS FOR PRODUCTION----
------------------------------------------------------
-- 8. POI Category -------------------------------------
Truncate Table Staging.RMPoiCategory

Insert Into Staging.RMPoiCategory
Select POICAT_ID, BEVCAT_GL1, BRANDPKG_GL2, BEVID, TRADEMARK, PACKAGETYPE, PACKAGEID, GL1_SORT, GL2_SORT, ACTIVE
From RM_DEV..ACEUSER.POI_CATEGORY

--------------------------------------------------------
-- 9. POI Position -------------------------------------
Truncate Table Staging.RMPoiPosition

Insert Into Staging.RMPoiPosition
Select POIPOS_ID, POIPOS_DESC, CHANNEL, SORT_ORDER, ACTIVE
From RM_DEV..ACEUSER.POI_POSITION
Go

---------------------------------------------
---------------------------------------------
If Exists (Select * From Sys.objects Where object_id = object_id('ETL.pLoadRMPOIMaster'))
Begin
	Drop Proc ETL.pLoadRMPOIMaster
End
Go

Create PROCEDURE ETL.pLoadRMPOIMaster 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	---------------------------------------------------------
	---Position----------------------------------------------
	Declare @poiposition Table
	(
		PositionID int,
		RMPositionID int,
		Description varchar(50),
		SortIOrder int,
		ChannelID int,
		Active bit,
		ChangeTrackNumber int
	)

	Insert @poiposition
	SELECT PositionID,RMPositionID,Description,SortIOrder,ChannelID,Active,ChangeTrackNumber
	FROM POI.Position

	MERGE @poiposition AS a
	USING (Select p.POIPOS_ID, p.POIPOS_DESC, c.ChannelID, p.SORT_ORDER, p.ACTIVE
			From Staging.RMPoiPosition p
			Left Join SAP.Channel c on p.CHANNEL = c.SAPChannelID
		  ) AS input
		ON a.RMPositionID = input.POIPOS_ID
	WHEN MATCHED THEN 
		UPDATE SET Description = input.POIPOS_DESC,
					SortIOrder = input.SORT_ORDER,
					ChannelID = input.ChannelID,
					Active = input.ACTIVE
	WHEN NOT MATCHED By Target THEN
		INSERT (RMPositionID,Description,SortIOrder,ChannelID,Active)
		 VALUES
			   (POIPOS_ID, POIPOS_DESC, SORT_ORDER, ChannelID, ACTIVE);

	Update @poiposition Set ChangeTrackNumber = CHECKSUM(RMPositionID,Description,SortIOrder,ChannelID,Active)

	MERGE POI.Position AS pc
	USING @poiposition AS input
			ON pc.PositionID = input.PositionID
	WHEN NOT MATCHED By Target THEN
		INSERT(RMPositionID,Description,SortIOrder,ChannelID,Active, ChangeTrackNumber, LastModified)
	VALUES(input.RMPositionID,input.Description,input.SortIOrder,input.ChannelID,input.Active, input.ChangeTrackNumber, GetDate());

	Update sdm
	Set RMPositionID = sap.RMPositionID, Description = sap.Description, SortIOrder = sap.SortIOrder, ChannelID = sap.ChannelID, 
		Active = sap.Active, ChangeTrackNumber = sap.ChangeTrackNumber, LastModified = GetDate()
	From @poiposition sap
	Join POI.Position sdm on sap.PositionID = sdm.PositionID and sap.ChangeTrackNumber != isnull(sdm.ChangeTrackNumber, 0)

	---------------------------------------------------------
	---Category----------------------------------------------
	Declare @category Table
	(
		CategoryID int,
		RMCategoryID varchar(50),
		BevCategory varchar(50) ,
		BrandPkgCategory varchar(50),
		BevTypeID int,
		TradeMarkID int,
		PackageTypeID int,
		PackageID int,
		BevCategorySortOrder int,
		BrandPkgCategorySortOrder int,
		Active bit,
		IsTen bit,
		ChangeTrackNumber int 
	)

	Insert @category
	SELECT CategoryID, RMCategoryID, BevCategory,BrandPkgCategory,BevTypeID,TradeMarkID,PackageTypeID,PackageID,BevCategorySortOrder,BrandPkgCategorySortOrder,Active,IsTen,ChangeTrackNumber
	FROM POI.Category

	MERGE @category AS a
    Using (Select p.POICAT_ID,p.BEVCAT_GL1,p.BRANDPKG_GL2,bt.BevTypeID,t.TradeMarkID,
				pckt.PackageTypeID,pck.PackageID,GL1_SORT,GL2_SORT,p.ACTIVE, Case When p.BEVCAT_GL1 = 'TEN' Then 1 Else 0 End As IsTen
			From Staging.RMPoiCategory p
			Left Join SAP.BevType bt on p.BEVID = bt.SAPBevTypeID
			Left Join SAP.TradeMark t on t.SAPTrademarkID = p.TRADEMARK
			Left Join SAP.PackageType pckt on pckt.SAPPackageTypeID = p.PACKAGETYPE
			Left Join SAP.Package pck on pck.RMPackageID = p.PACKAGEID
		  ) AS input
		ON a.RMCategoryID = input.POICAT_ID
	WHEN MATCHED THEN 
		UPDATE SET BevCategory = input.BEVCAT_GL1,
					BrandPkgCategory = input.BRANDPKG_GL2,
					BevTypeID = input.BevTypeID,
					TradeMarkID = input.TradeMarkID,
					PackageTypeID = input.PackageTypeID,
					PackageID = input.PackageID,
					BevCategorySortOrder = input.GL1_SORT,
					BrandPkgCategorySortOrder = input.GL2_SORT,
					Active = input.ACTIVE,
					IsTen = input.IsTen
	WHEN NOT MATCHED By Target THEN
		INSERT (RMCategoryID,BevCategory,BrandPkgCategory,BevTypeID,TradeMarkID,PackageTypeID,PackageID,BevCategorySortOrder,BrandPkgCategorySortOrder,Active,isTen)
		 VALUES
			   (POICAT_ID,BEVCAT_GL1,BRANDPKG_GL2,BevTypeID,TradeMarkID,PackageTypeID,PackageID, GL1_SORT,GL2_SORT,ACTIVE,IsTen);

	Update @category Set ChangeTrackNumber = CHECKSUM(RMCategoryID,BevCategory,BrandPkgCategory,BevTypeID,TradeMarkID,PackageTypeID,PackageID,BevCategorySortOrder,BrandPkgCategorySortOrder,Active,IsTen)

	MERGE POI.Category AS pc
	USING @category AS input
			ON pc.CategoryID = input.CategoryID
	WHEN NOT MATCHED By Target THEN
		INSERT(RMCategoryID,BevCategory,BrandPkgCategory,BevTypeID,TradeMarkID,PackageTypeID,PackageID,BevCategorySortOrder,BrandPkgCategorySortOrder,Active,IsTen,ChangeTrackNumber, LastModified)
	VALUES(input.RMCategoryID,input.BevCategory,input.BrandPkgCategory,input.BevTypeID,input.TradeMarkID,input.PackageTypeID,input.PackageID,input.BevCategorySortOrder,input.BrandPkgCategorySortOrder,input.Active,input.IsTen,input.ChangeTrackNumber, GetDate());

	Update sdm
	Set RMCategoryID = sap.RMCategoryID, BevCategory = sap.BevCategory, BrandPkgCategory = sap.BrandPkgCategory, 
		BevTypeID = sap.BevTypeID, TradeMarkID = sap.TradeMarkID, PackageTypeID = sap.PackageTypeID, PackageID = sap.PackageID,
		BevCategorySortOrder = sap.BevCategorySortOrder, BrandPkgCategorySortOrder = sap.BrandPkgCategorySortOrder, Active = sap.Active, 
		IsTen = sap.IsTen, ChangeTrackNumber = sap.ChangeTrackNumber, LastModified = GetDate()
	From @category sap
	Join POI.Category sdm on sap.CategoryID = sdm.CategoryID and sap.ChangeTrackNumber != isnull(sdm.ChangeTrackNumber, 0)

End
Go

Exec ETL.pLoadRMPOIMaster 
Go

Select *
From POI.Position

Select *
From POI.Category

----REMEMBER TO UPDATE THE AGENT JOB DEFINITION TO INCLUDE ETL.pLoadRMPOIMaster PIECE ----
