<div class="header-btns">
    <div>
        <a class="btn btn-me btn-blue" routerLink="/monitor" routerLinkActive="active">Monitor</a>
        <a class="btn btn-me btn-green" routerLink="/merchandise">Merchandise</a>
        <a class="btn btn-me btn-orange btn-me-dropdown" routerLink="/reporting" routerLinkActive="active">Reporting</a>
        <a class="btn btn-me btn-orange btn-me-dropdown" routerLink="/reportingmileage" routerLinkActive="active">Reporting Mileage</a>
        <a class="btn btn-me btn-red btn-me-dropdown" routerLink="/planning" routerLinkActive="active">Planning</a>

    </div>

</div>
